.content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid rgb(0 0 0 / 12%);
    position: relative;
    padding-left: 18px;
}

.chakra-ui-dark .content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid #707072;
    position: relative;
}

.content h1::before {
    position: absolute;
    top: 15;
    left: 0;
    content: '';
    width: 5px;
    height: 75%;
    background-color: #319795;
}

.content h2 {
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(0 0 0 / 12%);
    padding-top: 8px;
}

.chakra-ui-dark .content h2 {
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 1px solid #707072;
    padding-top: 8px;
}

.content h3 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 6px;
}

.content p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 15px;
}

.content pre {
    padding: 16px;
    background-color: #1d2020;
    width: 100%;
    font-size: 14px;
    overflow-x: scroll;
    border-radius: 8px;
}

.chakra-ui-dark .content pre {
    padding: 16px;
    background-color: #707072;
    width: 100%;
    font-size: 14px;
    overflow-x: scroll;
    border-radius: 8px;
}

.content code {
    color: white;
}

.content blockquote {
    position: relative;
    padding-left: 14px;
}

.content blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #cccccc;
}

.content a {
    color: #2c7a7b;
}
